body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fce4ec;
    font-family: 'Dancing Script', cursive;
}

canvas {
    border: 2px solid #ff4081;
}

h1 {
    font-size: 50px;
    color: #e91e63;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff4081;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #e91e63;
}
